<LimitExcept PUT GET>
    Require all granted
</LimitExcept>

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteCond %{REQUEST_METHOD} =PUT
    RewriteRule ^api/v2/package/$ /upload [L,R=301]

    RewriteCond %{REQUEST_METHOD} =PUT
    RewriteRule ^api/v2/$ /upload [L,R=301]

    # Redirect to omit URL path "/api/v2" for API calls
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^\$metadata$ /api/v2/$metadata [L,R=301]
    RewriteRule ^Search\(\)/\$count$ /api/v2/Search()/$count [L,R=301]
    RewriteRule ^Search\(\)$ /api/v2/Search() [L,R=301]
    RewriteRule ^Packages\(\)$ /api/v2/Packages() [L,R=301]
    RewriteRule ^Packages\((.*)\)$ /api/v2/Packages($1) [L,R=301]
    RewriteRule ^GetUpdates\(\)$ /api/v2/GetUpdates() [L,R=301]
    RewriteRule ^FindPackagesById\(\)$ /api/v2/FindPackagesById() [L,R=301]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
